<h1>Shopping Cart</h1>
<ng-container *ngIf="cartItems">
  <p>
    You have {{ shoppingCartItemCount }} number of cart items in your cart.
  </p>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">S.N0</th>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>      
      <tr *ngFor="let pId of productIds; index as i">
        <th scope="row">{{ i+1 }}</th>
        <td>{{cartItems[pId].product.category | json}}</td>
        <td>{{cartItems[pId].quantity | json}}</td>
        <td>{{cartItems[pId].product.price * cartItems[pId].quantity | currency: 'USD': 'symbol' | json}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>{{ totalAmount | currency: 'USD': 'symbol' }}</td>
      </tr>
    </tfoot>
  </table>
</ng-container>

