<p>
    <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">S.NO</th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody> 
        <tr *ngFor="let p of productList; index as i">    
            <th scope="row">{{i + 1}}</th>
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
            <td><a routerLink="/admin/products/{{p.$key}}">Edit</a></td>
        </tr>          
    </tbody>
</table> 
