<div class="row">
  <div class="col-6">
    <form [formGroup]="checkOutForm" (ngSubmit)="saveOrder(checkOutForm.value)">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" formControlName="name" class="form-control" id="name" placeholder="name">                 
      </div>
      <div class="alert alert-danger" *ngIf="checkOutForm.get('name').touched && checkOutForm.get('name').invalid">
        <div *ngIf="checkOutForm.get('name').errors.required">Name Required</div>
      </div> 
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" formControlName="addressLine1" class="form-control" id="addressLine1" placeholder="Line 1">          
      </div>
      <div class="alert alert-danger" *ngIf="checkOutForm.get('addressLine1').touched && checkOutForm.get('addressLine1').invalid">
        <div *ngIf="checkOutForm.get('addressLine1').errors.required">Line1 Required</div>
      </div> 
      <div class="form-group">           
        <input type="text" formControlName="addressLine2" class="form-control" id="addressLine2" placeholder="Line 2">
      </div>
      <div class="alert alert-danger" *ngIf="checkOutForm.get('addressLine2').touched && checkOutForm.get('addressLine2').invalid">
        <div *ngIf="checkOutForm.get('addressLine2').errors.required">Line2 Required</div>
      </div> 
      <div class="form-group">
        <label for="zipcode">ZipCode</label>
        <input type="text" formControlName="zipCode" class="form-control" id="zipCode" placeholder="zipCode">          
      </div>
      <div class="alert alert-danger" *ngIf="checkOutForm.get('zipCode').touched && checkOutForm.get('zipCode').invalid">
        <div *ngIf="checkOutForm.get('zipCode').errors.required">ZipCode Required</div>
      </div> 
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" formControlName="city" class="form-control" id="city" placeholder="city">          
      </div>
      <div class="alert alert-danger" *ngIf="checkOutForm.get('city').touched && checkOutForm.get('city').invalid">
        <div *ngIf="checkOutForm.get('city').errors.required">City Required</div>
      </div> 
      <button class="btn btn-primary" [disabled]="checkOutForm.invalid">Place Order</button>
    </form>
  </div>
  <div class="col-6">
    <shipping-cart-summary 
      [orderItems]='orderItems' [tQuantity]='tQuantity' [tPrice]='tPrice'>
    </shipping-cart-summary>    
  </div>
</div>


